In [5]:
#gn == Female  names
#bn == Male names 
gn = ["Evelyn","Jessica","Somto","Edith","Liza","Madonna","Waje","Tola","Aisha","Latifa"]
bn = ["Chinedu","liam","Wale","Gbenga","Abiola","Kola","Kunle","George","Thomas","Wesley"]

#ga == Age of Females
#ba == Age of Males
ga = [17,16,17,18,16,18,17,20,19,17]
ba = [19,16,18,17,20,19,16,18,17,19]

#gh == Height of Female
#bh == Height of Male
gh = [5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5]
bh = [5.7,5.9,5.8,6.1,5.9,5.5,6.1,5.4,5.8,5.7]

#gs == Scores of Females
#bs == Scores of Male
gs = [80,85,70,60,76,66,87,95,50,49]
bs = [74,87,75,68,66,78,87,98,54,60]

print (f"({gn[0]}|{gs[0]}|{gh[0]}|{gs[0]})")
print (f"({gn[1]}|{gs[1]}|{gh[1]}|{gs[1]})")
print (f"({gn[2]}|{gs[2]}|{gh[2]}|{gs[2]})")
print (f"({gn[3]}|{gs[3]}|{gh[3]}|{gs[3]})")
print (f"({gn[4]}|{gs[4]}|{gh[4]}|{gs[4]})")
print (f"({gn[5]}|{gs[5]}|{gh[5]}|{gs[5]})")
print (f"({gn[6]}|{gs[6]}|{gh[6]}|{gs[6]})")
print (f"({gn[7]}|{gs[7]}|{gh[7]}|{gs[7]})")
print (f"({gn[8]}|{gs[8]}|{gh[8]}|{gs[8]})")
print (f"({gn[9]}|{gs[9]}|{gh[9]}|{gs[9]})")

(Evelyn|80|5.5|80)
(Jessica|85|6.0|85)
(Somto|70|5.4|70)
(Edith|60|5.9|60)
(Liza|76|5.6|76)
(Madonna|66|5.5|66)
(Waje|87|6.1|87)
(Tola|95|6.0|95)
(Aisha|50|5.7|50)
(Latifa|49|5.5|49)

In [ ]:
age = int(input("Enter your current age: "))
exp = int(input("Enter your years of experience: "))

if age >= 55 and exp > 25:
    print("Your Annual Tax Revenue (ATR) is N5,600,000" )
elif exp > 20 and age>= 45:
    print("Your Annual Tax Revenue (ATR) is N4,480,000" )
elif exp > 10 and age >= 35:
    print("Your Annual Tax Revenue (ATR) is N1,500,000" )
elif exp < 10 and age < 35:
    print("Your Annual Tax Revenue (ATR) is N550,000" )
else: 
    print("you do not qualify for any of the ATR")

Enter your current age:  55
Enter your years of experience:  26

Your Annual Tax Revenue (ATR) is N5,600,000